<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Sigma Nu Login</title>
		<link rel="stylesheet" href="css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md">
					<div class="card">
						<span class="card-header text-center">Login</span>
						<div class="card-body">
							<div class="alert alert-danger text-center" role="alert" id="login_error" v-if="error">
								Invalid Credentials
							</div>
							<form method="post" action="/api/user/login" onsubmit="return submit_form(this)">
								<div class="form-group">
									<input type="email" class="form-control text-center" id="username" name="username" placeholder="Email">
								</div>
								<div class="form-group">
									<input type="password" class="form-control text-center" id="password" name="password" placeholder="Password">
								</div>
								<div class="form-group text-center">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="remember" name="remember">
										<label class="form-check-label" for="remember">
											Remember Me
										</label>
									</div>
								</div>
								<button type="submit" class="btn btn-block btn-primary">Login</button>
							</form>

						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md">
					<div class="card">
						<span class="card-header text-center">Register</span>
						<div class="card-body">
							<div class="alert alert-danger text-center" role="alert" id="register_error" v-if="error">
								{{ message }}
							</div>
							<form method="post" action="/api/user/register" onsubmit="return submit_form(this)">
								<div class="form-group">
									<input type="email" class="form-control text-center" id="username" name="username" placeholder="Email">
								</div>
								<div class="form-group">
									<input type="password" class="form-control text-center" id="password1" name="password1" placeholder="Password">
								</div>
								<div class="form-group">
									<input type="password" class="form-control text-center" id="password2" name="password2" placeholder="Repeat Password">
								</div>
								<button type="submit" class="btn btn-block btn-primary">Register</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/vue.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				register : {
					el: "#register_error",
					data: {
						error: false,
						message : ""
					}
				},
				login: {
					el: "#login_error",
					data: {
						error: false
					}
				}
			});
			function submit_form(form){
				var xhr = new XMLHttpRequest();
				xhr.onload = function(){
					console.log("text: " + xhr.responseText );
					console.log("type: " + xhr.responseType );
					console.log("code: " + xhr.status );
				};
				xhr.open(form.method, form.action, true);
				xhr.send(new FormData(form));
				return false;
			}
		</script>
	</body>
</html>
